openapi: 3.1.0

info:
  title: Uniteller Online Remittance API
  version: 2.0.0

servers:
  - url: https://sendsandbox.uniteller.org/UTLROnlineRemitAPI

tags:
  - name: OAuth
  - name: ProfileManagement
  - name: Security
  - name: Common
  - name: Remittance

paths:
  /UTLROnlineRemitAPI/Security/v2/Signup:
    post:
      tags:
        - Security
      summary: This resource saves signup information of remitter.
      description: |
        This source saves signup information (with some basic information)
                and provides an authentication code (on registered email address if
                required otherwise skip verifying email address based on Partner
                configuration). After successful authentication, user willbe able to
                login into the application. Now user can use almost all features of the
                application except send money and add sending method until he/she
                completes his/her personal information and verify his information.

      security:
        - clientbearerAuth: []

      parameters:
        - $ref: '#/components/parameters/AuthenticationCode'
        - $ref: '#/components/parameters/XForwardedFor'

      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SignupRequest'
            examples:
              SignupRequest:
                summary: Signup Request
                value:
                  partnerCode: "Uniteller"
                  interactionId: "12344"
                  locale: null
                  extraFields: null
                  privacyPolicyAgreement: "YES"
                  remiterReferral: null
                  userIPAddress: ""
                  agreementLocale: null
                  questionId: "1"
                  answer: "answer"
                  answerHint: "answer"
                  remitterPersonalInfo:
                    emailAddress: "john.doe@email.com"
                    firstName: "Zeb"
                    middleName: null
                    lastName: "Versa"
                    secondLastName: null
                    gender: ""
                    birthDate: "02251999"
                    cellPhone: "9993205321"
                    workPhone: null
                    homePhone: null
                    address:
                      address1: "222333 PEACHTREE PLACE"
                      address2: null
                      city: "Los Angles"
                      state: "AZ"
                      stateName: "Arizona"
                      country: "USA"
                      countryISOCode: "US"
                      zipCode: "90001"
                    destinationCountryISOCode: "MX"

      responses:
        '200':
          description: Signup successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SignupResponse'
              examples:
                Success:
                  summary: Successful Signup
                  value:
                    errorCode:
                      errorCode: "00000000"
                      errorMessage: "Congratulations! You have signed up successfully."
                      errorType: "DEFAULT"
                    extraFields:
                      - name: "Unique_USER_ID"
                        value: "305405_306351"
                    interactionId: "12344"
                    executionTimestamp: 707
                    requestTimestamp: "07102026071109"
                    responseTimestamp: "07102026071110"
                    responseCode: "00000000"
                    responseMessage: "Congratulations! You have signed up successfully."
                    contextId: "API_8049056e72e95655_8049056e72e95655"

                InvalidPartnerCode:
                  $ref: '#/components/examples/InvalidPartnerCodeResponse'

                InvalidBirthDate:
                  $ref: '#/components/examples/InvalidBirthDateResponse'

                InvalidEmail:
                  $ref: '#/components/examples/InvalidEmail'

        '400':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SignupResponse'
              examples:
                Unauthorized:
                  $ref: '#/components/examples/UnauthorizedResponse'



        '500':
          description: Invalid Request

        '401':
          description: Internal Server Error

  /UTLROnlineRemitAPI/Security/CheckDuplicateUser:
    post:
      tags:
        - Security
      summary: Check Duplicate User
      description: Checks whether a user already exists using either an email address or personal information.
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/AuthenticationCode'
        - $ref: '#/components/parameters/XForwardedFor'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
                - $ref: '#/components/schemas/CheckDuplicateUserByEmailRequest'
                - $ref: '#/components/schemas/CheckDuplicateUserByPersonalInfoRequest'
            examples:
              CheckByEmail:
                summary: Check Duplicate User by Email
                value:
                  emailAddress: "john.doe@email.com"
                  partnerCode: "Uniteller"
                  interactionId: "123456789"
                  locale: "En"

              CheckByPersonalInfo:
                summary: Check Duplicate User by Personal Information
                value:
                  partnerCode: "Uniteller"
                  interactionId: "123456789"
                  locale: "En"
                  firstName: "Joe"
                  lastName: "Arora"
                  birthDate: "11301996"

      responses:
        '200':
          description: Duplicate user check completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CheckDuplicateUserResponse'
              examples:
                Success:
                  summary: Duplicate User Check Response
                  value:
                    errorCode:
                      errorCode: "00000000"
                      errorMessage: "Success."
                      errorType: "DEFAULT"
                    extraFields: null
                    interactionId: "123456789"
                    executionTimestamp: 151
                    requestTimestamp: "07132026063244"
                    responseTimestamp: "07132026063245"
                    responseCode: "00000000"
                    responseMessage: "Success."
                    contextId: "API_1924056618_1197363864"
                    userId: null

                InvalidPartnerCode:
                  $ref: '#/components/examples/InvalidPartnerCodeResponse'

        '400':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CheckDuplicateUserResponse'
              examples:
                Unauthorized:
                  $ref: '#/components/examples/UnauthorizedResponse'


        '401':
          description: Unauthorized

        '500':
          description: Internal Server Error

  /UTLROnlineRemitAPI/ProfileManagement/SignupSecurityQuestions:
    post:
      tags:
        - ProfileManagement
      summary: Get Signup Security Questions
      description: Retrieves the list of security questions available during the signup process.

      security:
        - bearerAuth: [ ]
      parameters:
        - $ref: '#/components/parameters/AuthenticationCode'
        - $ref: '#/components/parameters/XForwardedFor'

      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SignupSecurityQuestionsRequest'
            examples:
              SignupSecurityQuestions:
                summary: Signup Security Questions Request
                value:
                  partnerCode: "Uniteller"
                  interactionId: "12345678"
                  extraFields: []
                  locale: "EN"

      responses:
        '200':
          description: Security questions retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SignupSecurityQuestionsResponse'
              examples:
                Success:
                  summary: Signup Security Questions Response
                  value:
                    errorCode:
                      errorCode: "00000000"
                      errorMessage: "Success."
                      errorType: "DEFAULT"
                    extraFields: null
                    interactionId: "12345678"
                    executionTimestamp: 6
                    requestTimestamp: "07132026065704"
                    responseTimestamp: "07132026065704"
                    responseCode: "00000000"
                    responseMessage: "Success."
                    contextId: "API_1074136032"
                    securityQuestion:
                      - question: "What was your childhood nickname?"
                        questionId: 1
                        questionHint: null
                      - question: "In what city did you meet your spouse/significant other?"
                        questionId: 2
                        questionHint: null

                InvalidPartnerCode:
                  $ref: '#/components/examples/InvalidPartnerCodeResponse'


        '400':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SignupSecurityQuestionsResponse'
              examples:
                Unauthorized:
                  $ref: '#/components/examples/UnauthorizedResponse'


        '401':
          description: Unauthorized

        '500':
          description: Internal Server Error
  /Common/LicensedStates:
    post:
      tags:
        - Common
      summary: Get Licensed States
      description: Returns the list of licensed states.
      operationId: getLicensedStates

      security:
        - bearerAuth: []

      parameters:
        - $ref: '#/components/parameters/AuthenticationCode'
        - $ref: '#/components/parameters/XForwardedFor'


      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LicensedStatesRequest'


      responses:
        "200":
          description: Licensed states retrieved successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LicensedStatesResponse"
              examples:
                Success:
                  summary: Signup Security Questions Response
                  value:
                      errorCode:
                        errorCode: "00000000"
                        errorMessage: "Success."
                        errorType: "DEFAULT"
                      extraFields: null
                      interactionId: "12345678"
                      executionTimestamp: 31
                      requestTimestamp: "07142026100309"
                      responseTimestamp: "07142026100309"
                      responseCode: "00000000"
                      responseMessage: "Success."
                      contextId: "API_d147c1f44a4e2684"
                      licensedState:
                        - id: 0
                          isoCode: "AL"
                          name: "Alabama"
                        - id: 0
                          isoCode: "AK"
                          name: "Alaska"
                        - id: 0
                          isoCode: "AZ"
                          name: "Arizona"
                        - id: 0
                          isoCode: "WY"
                          name: "Wyoming"
                InvalidPartnerCode:
                  $ref: '#/components/examples/InvalidPartnerCodeResponse'




        '400':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LicensedStatesResponse'
              examples:
                Unauthorized:
                  $ref: '#/components/examples/UnauthorizedResponse'


        '401':
          description: Unauthorized

        '500':
          description: Internal Server Error

  /ProfileManagement/UserProfileInfo:
    post:
      tags:
        - ProfileManagement
      summary: Get User Profile Information
      operationId: getUserProfileInfo

      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/AuthenticationCode'
        - $ref: '#/components/parameters/XForwardedFor'


      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserProfileInfoRequest'
            examples:
              UserProfileInfo:
                summary: User Profile Information Request
                value:
                  userId: "john.doe@email.com"
                  partnerCode: "Uniteller"
                  interactionId: "456789"
                  locale: "EN"

      responses:
        '200':
          description: User profile information retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserProfileInfoResponse'
              examples:
                Success:
                  summary: User Profile Information Response
                  value:
                    errorCode:
                      errorCode: "00000000"
                      errorMessage: "Success."
                      errorType: "DEFAULT"
                    extraFields:
                      - name: "Unique_USER_ID"
                        value: "304674_305552"
                      - name: "PHONE_NUMBER"
                        value: "9993205321"
                    interactionId: "456789"
                    executionTimestamp: 470
                    requestTimestamp: "07132026100959"
                    responseTimestamp: "07132026100959"
                    responseCode: "00000000"
                    responseMessage: "Success."
                    contextId: "API_bd978eb89665a107_bd978eb89665a107"
                    remitterCurrency: "USD"
                    remitterLevel: "SILVER"
                    remitterPersonalInfo:
                      firstName: "Deja"
                      lastName: "THOMAS"
                      emailAddress: "john.doe@email.com"
                    toDayLimit: 2999
                    editNumberAllowed: true
                    deactivationRequested: false
                    editEmailAllowed: null
                    smsSubscriptionStatus: null
                    remitterStatus: "APPROVED"
                    sendingMethodAdded: false

                InvalidPartnerCode:
                  $ref: '#/components/examples/InvalidPartnerCodeResponse'
        '400':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserProfileInfoResponse'
              examples:
                Unauthorized:
                  $ref: '#/components/examples/UnauthorizedResponse'


        '401':
          description: Unauthorized

        '500':
          description: Internal Server Error

  /UTLROnlineRemitAPI/ProfileManagement/EditUserProfile:
    post:
      tags:
        - ProfileManagement
      summary: Edit User Profile
      description: Updates the remitter's profile information.
      operationId: editUserProfile

      security:
        - bearerAuth: []

      parameters:
        - $ref: '#/components/parameters/AuthenticationCode'
        - $ref: '#/components/parameters/XForwardedFor'

      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EditUserProfileRequest'
            example:
              userId: "john.doe@email.com"
              remitterInfo:
                cellPhone: "7836040440"
                address:
                  address1: "122 Main St."
                  city: "McLean"
                  state: "TX"
                  stateName: "Texas"
                  country: "US"
                  zipCode: "90001"
              partnerCode: "Uniteller"
              interactionId: "456789"
              locale: "EN"

      responses:
        '200':
          description: User profile updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EditUserProfileResponse'
              example:
                errorCode:
                  errorCode: "00000000"
                  errorMessage: "Your profile has been successfully changed."
                  errorType: "DEFAULT"
                extraFields: null
                interactionId: "456789"
                executionTimestamp: 1098
                requestTimestamp: "07142026092158"
                responseTimestamp: "07142026092159"
                responseCode: "00000000"
                responseMessage: "Your profile has been successfully changed."
                contextId: "API_3758998dab335b35_3758998dab335b35"
                remitterPersonalInfo:
                  address:
                    address1: "122 Main bSt."
                    city: "McLean"
                    state: "TX"
                    stateName: "Texas"
                    country: "USA"
                    countryISOCode: "US"
                    zipCode: "90001"

        '400':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EditUserProfileResponse'
              examples:
                Unauthorized:
                  $ref: '#/components/examples/UnauthorizedResponse'


        '401':
          description: Unauthorized

        '500':
          description: Internal Server Error

  /UTLROnlineRemitAPI/Common/v2/DestCountries:
    post:
      tags:
        - Common
      summary: Get destination country details.
      description: |
        Returns the destination country information for the provided country ISO code.

      security:
        - bearerAuth: []

      parameters:
        - $ref: '#/components/parameters/AuthenticationCode'
        - $ref: '#/components/parameters/XForwardedFor'

      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DestCountriesRequest'
            examples:
              DestCountriesRequest:
                summary: Destination Countries Request
                value:
                  partnerCode: "Uniteller"
                  countryIsoCode: "MX"
                  interactionId: "12345678"
                  extraFields: [ ]
                  locale: "EN"

      responses:
        '200':
          description: Destination country retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DestCountriesResponse'
              examples:
                Success:
                  summary: Success
                  value:
                    errorCode:
                      errorCode: "00000000"
                      errorMessage: "Success."
                      errorType: "DEFAULT"
                    extraFields: null
                    interactionId: "12345678"
                    executionTimestamp: 8
                    requestTimestamp: "07152026064257"
                    responseTimestamp: "07152026064257"
                    responseCode: "00000000"
                    responseMessage: "Success."
                    contextId: "API_6833c82cc95f87e7"
                    destinationCountriesList:
                      - id: 0
                        isoCode: "MX"
                        name: "Mexico"
                        isdCode: "+52"
                        currency: null

        '400':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DestCountriesResponse'
              examples:
                Unauthorized:
                  $ref: '#/components/examples/UnauthorizedResponse'


        '401':
          description: Unauthorized

        '500':
          description: Internal Server Error

  /UTLROnlineRemitAPI/Common/DestCountryWithCurrency:
    post:
      tags:
        - Common
      summary: Get destination countries with supported currencies.
      description: |
        Returns destination countries along with their supported currencies.

      security:
        - bearerAuth: []

      parameters:
        - $ref: '#/components/parameters/AuthenticationCode'
        - $ref: '#/components/parameters/XForwardedFor'

      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
                - $ref: '#/components/schemas/DestCountryWithCurrencyRequest'
                - $ref: '#/components/schemas/DestCountryWithCurrencyRequestForPToB'
            examples:
              DestCountryWithCurrencyRequest:
                summary: Destination Country With Currency Request
                value:
                  partnerCode: "Uniteller"
                  interactionId: "12345678"
                  extraFields: [ ]
                  locale: "EN"
              DestCountryWithCurrencyRequestForPToB:
                summary: Destination Country With Currency Request for P to B
                value:
                  partnerCode: "Uniteller"
                  interactionId: "12345678"
                  extraFields: [ ]
                  locale: "EN"
                  recipientType: "COMPANY"

      responses:
        '200':
          description: Destination countries with currencies retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DestCountryWithCurrencyResponse'
              examples:
                Success:
                  summary: Success
                  value:
                    errorCode:
                      errorCode: "00000000"
                      errorMessage: "Success."
                      errorType: "DEFAULT"
                    extraFields: null
                    interactionId: "12345678"
                    executionTimestamp: 12
                    requestTimestamp: "07152026064342"
                    responseTimestamp: "07152026064342"
                    responseCode: "00000000"
                    responseMessage: "Success."
                    contextId: "API_d6b54f1bcd116daf"
                    destCountryWithCurrency:
                      - currency:
                          - id: 1
                            isoCode: "MXN"
                            name: "Mex Pesos"
                        destinationCountry:
                          id: 2
                          isoCode: "MX"
                          name: "Mexico"
                          isdCode: null
                          currency: null

        '400':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DestCountryWithCurrencyResponse'
              examples:
                Unauthorized:
                  $ref: '#/components/examples/UnauthorizedResponse'


        '401':
          description: Unauthorized

        '500':
          description: Internal Server Error

  /UTLROnlineRemitAPI/Common/CountryStates:
    post:
      tags:
        - Common
      summary: Get country states.
      description: Returns the list of states or provinces for the specified country.

      security:
        - bearerAuth: [ ]

      parameters:
        - $ref: '#/components/parameters/AuthenticationCode'
        - $ref: '#/components/parameters/XForwardedFor'

      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CountryStatesRequest'
            examples:
              CountryStatesRequest:
                summary: Country States Request
                value:
                  partnerCode: "Uniteller"
                  interactionId: "1234567890"
                  extraFields: [ ]
                  locale: "EN"
                  countryISOCode: "US"

      responses:
        '200':
          description: States retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CountryStatesResponse'
              examples:
                Success:
                  value:
                    errorCode:
                      errorCode: "00000000"
                      errorMessage: "Success."
                      errorType: "DEFAULT"
                    extraFields: null
                    interactionId: "1234567890"
                    executionTimestamp: 6
                    requestTimestamp: "07152026103422"
                    responseTimestamp: "07152026103422"
                    responseCode: "00000000"
                    responseMessage: "Success."
                    contextId: "API_e3a48605ad55b06e"
                    state:
                      - id: 0
                        isoCode: "AL"
                        name: "Alabama"
                      - id: 0
                        isoCode: "AK"
                        name: "Alaska"

        '400':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CountryStatesResponse'
              examples:
                Unauthorized:
                  $ref: '#/components/examples/UnauthorizedResponse'


        '401':
          description: Unauthorized

        '500':
          description: Internal Server Error

  /UTLROnlineRemitAPI/Common/v2/PayerWithReceptionMethodsList:
    post:
      tags:
        - Common
      summary: Get payers with reception methods.
      description: Returns the list of available payers along with their supported reception methods for the specified destination country, currency, and state.

      security:
        - bearerAuth: [ ]

      parameters:
        - $ref: '#/components/parameters/AuthenticationCode'
        - $ref: '#/components/parameters/XForwardedFor'

      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
               - $ref: '#/components/schemas/PayerWithReceptionMethodsRequest'
               - $ref: '#/components/schemas/PayerWithReceptionMethodsRequestForPtoB'
            examples:
              PayerWithReceptionMethodsRequest:
                value:
                  countryISOCode: "MX"
                  currencyISOCode: "MXN"
                  stateISOCode: "MEX"
                  partnerCode: "Uniteller"
                  interactionId: "1234567890"
                  extraFields: [ ]
                  locale: "EN"
              PayerWithReceptionMethodsRequestForPtoB:
                value:
                  countryISOCode: "MX"
                  currencyISOCode: "MXN"
                  stateISOCode: "MEX"
                  partnerCode: "Uniteller"
                  interactionId: "1234567890"
                  extraFields: [ ]
                  locale: "EN"
                  recipientType: "COMPANY"

      responses:
        '200':
          description: Payers retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayerWithReceptionMethodsResponse'
              examples:
                Success:
                  summary: Successful Payer List Response
                  value:
                    errorCode:
                      errorCode: "00000000"
                      errorMessage: "Success."
                      errorType: "DEFAULT"
                    extraFields: null
                    interactionId: "12345678"
                    executionTimestamp: 174
                    requestTimestamp: "07282026082442"
                    responseTimestamp: "07282026082442"
                    responseCode: "00000000"
                    responseMessage: "Success."
                    contextId: "API_8118cdc153d58e35"
                    payerWithReceptionMethods:
                      - payer:
                          accountRegexMsg: null
                          address: null
                          beneAccountRegex: "^([0-9]{10,18})$"
                          id: 1
                          isPayerBranchRequired: "NO"
                          name: "Banorte"
                          payerSpecificCode: "BANORTE"
                          payerLogo: "https://unirrespuat.uniteller.com:8443/payer_logo/Mexico/BANORTE.jpg"
                          phoneNumber1: null
                          phoneNumber2: null
                          receiptionMethod:
                            - id: 2
                              isAddtionalFieldRequired: "NO"
                              name: "Cash Pickup"
                              txAvailableMsgBA: null
                              txAvailableMsgCard: null
                              isPayerBranchRequired: "NO"
                              txnLimit: "10000"
                              accountRegexMsg: null
                              additionalFieldInfo: null
                              beneAccountRegex: "^([0-9]{10,18})$"
                              currencies: null
                          status: null
                          accountNumberDisplayName: null
                          extraFields: null
                          paymentAmountRegex: null
                          disclaimerMsg: null
                        receptionMethods:
                          - id: 2
                            isAddtionalFieldRequired: "NO"
                            name: "Cash Pickup"
                            txAvailableMsgBA: null
                            txAvailableMsgCard: null
                            isPayerBranchRequired: "NO"
                            txnLimit: "10000"
                            accountRegexMsg: null
                            additionalFieldInfo: null
                            beneAccountRegex: "^([0-9]{10,18})$"
                            currencies: null
        '400':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayerWithReceptionMethodsResponse'
              examples:
                Unauthorized:
                  $ref: '#/components/examples/UnauthorizedResponse'


        '401':
          description: Unauthorized

        '500':
          description: Internal Server Error

  /UTLROnlineRemitAPI/Common/v3/PayerWithReceptionMethodsList:
    post:
      tags:
        - Common
      summary: Get payers with reception methods.
      description: Returns the list of available payers along with their supported reception methods for the specified destination country, currency, and state.

      security:
        - bearerAuth: [ ]

      parameters:
        - $ref: '#/components/parameters/AuthenticationCode'
        - $ref: '#/components/parameters/XForwardedFor'

      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PayerWithReceptionMethodsRequest'
            examples:
              PayerWithReceptionMethodsRequest:
                value:
                  countryISOCode: "MX"
                  currencyISOCode: "MXN"
                  partnerCode: "Uniteller"
                  interactionId: "1234567890"
                  extraFields: [ ]
                  locale: "EN"
                  recipientType: "COMPANY"

      responses:
        '200':
          description: Payers retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayerWithReceptionMethodsResponse'
              examples:
                Success:
                  summary: Successful Payer List Response
                  value:
                    errorCode:
                      errorCode: "00000000"
                      errorMessage: "Success."
                      errorType: "DEFAULT"
                    extraFields: null
                    interactionId: "12345678"
                    executionTimestamp: 174
                    requestTimestamp: "07282026082442"
                    responseTimestamp: "07282026082442"
                    responseCode: "00000000"
                    responseMessage: "Success."
                    contextId: "API_8118cdc153d58e35"
                    payerWithReceptionMethods:
                      - payer:
                          accountRegexMsg: null
                          address: null
                          beneAccountRegex: "^([0-9]{10,18})$"
                          id: 1
                          isPayerBranchRequired: "NO"
                          name: "Banorte"
                          payerSpecificCode: "BANORTE"
                          payerLogo: "https://unirrespuat.uniteller.com:8443/payer_logo/Mexico/BANORTE.jpg"
                          phoneNumber1: null
                          phoneNumber2: null
                          receiptionMethod:
                            - id: 2
                              isAddtionalFieldRequired: "NO"
                              name: "Cash Pickup"
                              txAvailableMsgBA: null
                              txAvailableMsgCard: null
                              isPayerBranchRequired: "NO"
                              txnLimit: "10000"
                              accountRegexMsg: null
                              additionalFieldInfo: null
                              beneAccountRegex: "^([0-9]{10,18})$"
                              currencies: null
                          status: null
                          accountNumberDisplayName: null
                          extraFields: null
                          paymentAmountRegex: null
                          disclaimerMsg: null
                        receptionMethods:
                          - id: 2
                            isAddtionalFieldRequired: "NO"
                            name: "Cash Pickup"
                            txAvailableMsgBA: null
                            txAvailableMsgCard: null
                            isPayerBranchRequired: "NO"
                            txnLimit: "10000"
                            accountRegexMsg: null
                            additionalFieldInfo: null
                            beneAccountRegex: "^([0-9]{10,18})$"
                            currencies: null
        '400':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayerWithReceptionMethodsResponse'
              examples:
                Unauthorized:
                  $ref: '#/components/examples/UnauthorizedResponse'


        '401':
          description: Unauthorized

        '500':
          description: Internal Server Error

  /UTLROnlineRemitAPI/Common/PayerBranches:
    post:
      tags:
        - Common
      summary: Get payer branches.
      description: Returns the list of payer branches for the specified payer, destination country, currency, reception method, and state.

      security:
        - bearerAuth: [ ]

      parameters:
        - $ref: '#/components/parameters/AuthenticationCode'
        - $ref: '#/components/parameters/XForwardedFor'

      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PayerBranchesRequest'
            examples:
              PayerBranchesRequest:
                summary: Payer Branches Request
                value:
                  payerSpecificCode: "INTERMEX"
                  countryISOCode: "MX"
                  currencyISOCode: "MXN"
                  receptionMethodName: "Cash Pickup"
                  stateISOCode: "DUR"
                  city: "Durango"
                  partnerCode: "Uniteller"
                  interactionId: "1234567890"
                  locale: "EN"

      responses:
        '200':
          description: Payer branches retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayerBranchesResponse'
              examples:
                Success:
                  value:
                    errorCode:
                      errorCode: "00000000"
                      errorMessage: "Success."
                      errorType: "DEFAULT"
                    extraFields: null
                    interactionId: "1234567890"
                    executionTimestamp: 133
                    requestTimestamp: "07202026093605"
                    responseTimestamp: "07202026093605"
                    responseCode: "00000000"
                    responseMessage: "Success."
                    contextId: "API_d60cbd290678a9e2"
                    isPayerBranchRequired: "Yes"
                    payerBranches:
                      - branchCode: "INTERMEX-09989"
                        branchName: "Abarrotes Valenzuela"
                        branchHours: "MON-FRI:0800AM-1000PM SAT:0900AM-0200PM SUN:0900AM-1200PM"
                        phoneNumber1: "800 733 3300"
                        phoneNumber2: null
                        payerSpecificCode: null
                        payerName: null
                        address:
                          address1: "Heroes de Chapultepec 404a Guadalupe Victoria Centro"
                          address2: null
                          city: "Guadalupe Victoria"
                          state: "DUR"
                          stateName: "Durango"
                          country: "Mexico"
                          countryISOCode: "MX"
                          zipCode: "34700"

        '400':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayerBranchesResponse'
              examples:
                Unauthorized:
                  $ref: '#/components/examples/UnauthorizedResponse'


        '401':
          description: Unauthorized

        '500':
          description: Internal Server Error

  /UTLROnlineRemitAPI/ProfileManagement/AddBeneficiary:
    post:
      tags:
        - ProfileManagement
      summary: Add beneficiary.
      description: Adds a new beneficiary to the remitter's profile.

      security:
        - bearerAuth: [ ]

      parameters:
        - $ref: '#/components/parameters/AuthenticationCode'
        - $ref: '#/components/parameters/XForwardedFor'

      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
                - $ref: '#/components/schemas/AddBeneficiaryRequest'
                - $ref: '#/components/schemas/AddBeneficiaryWithAdditionalFieldsRequest'
                - $ref: '#/components/schemas/AddBeneficiaryWithPayerBranchRequest'
                - $ref: '#/components/schemas/AddBeneficiaryRequestForPToB'
            examples:
              AddBeneficiaryRequest:
                summary: Add Beneficiary Request
                value:
                  userId: "john.doe@email.com"
                  beneficiarySummary:
                    id: 0
                    gender: "M"
                    firstName: "John"
                    lastName: "Mishra"
                    accHolderName: "Kamlesh Mishra"
                    accNumber: ""
                    address:
                      address1: "Address1"
                      city: "Mexico City"
                      state: "MEX"
                      stateName: "Estado De Mexico"
                      countryISOCode: "MX"
                      zipCode: "12345"
                    beneDOB: "12121986"
                    cellPhone: "7836040442"
                    receptionMethod: "Cash Pickup"
                    destCountryISOCode: "MX"
                    destCurrencyISOCode: "MXN"
                    payerSpecificCode: "EK699"
                  partnerCode: "Uniteller"
                  interactionId: "1234567890"
                  locale: "EN"

              AddBeneficiaryWithAdditionalFields:
                summary: Add Beneficiary - With Additional Fields
                value:
                  userId: "john.doe@email.com"
                  beneficiarySummary:
                    firstName: "Nisha"
                    lastName: "Verma"
                    secLastName: "Lohani Verma"
                    receptionMethod: "Cash Pickup"
                    cellPhone: "56321522322"
                    address:
                      address1: "123 Test St"
                      city: "gvgtfv"
                      state: "BD-C"
                      stateName: "Dhaka"
                      countryISOCode: "BD"
                      zipCode: "00000"
                    destCountryISOCode: "BD"
                    destCurrencyISOCode: "BDT"
                    payerSpecificCode: "TRBD0002"
                    additionalFieldInfo:
                      - fieldName: "beneIdentificationType"
                        fieldValue: "001"
                      - fieldName: "beneIdentificationNumber"
                        fieldValue: "412515202"
                      - fieldName: "purposeOfTransaction"
                        fieldValue: "001"
                      - fieldName: "senderIdentificationType"
                        fieldValue: "002"
                      - fieldName: "relationToBeneficiary"
                        fieldValue: "Sister"
                      - fieldName: "senderOccupation"
                        fieldValue: "TECH"
                      - fieldName: "senderIdentificationNumber"
                        fieldValue: "563212325623"
                      - fieldName: "sourceOfIncome"
                        fieldValue: "001"
                  partnerCode: "Uniteller"
                  interactionId: "1234567890"
                  locale: "EN"

              AddBeneficiaryWithPayerBranch:
                summary: Add Beneficiary - With Payer Branch
                description: Example request for payers that require a specific payer branch.
                value:
                  userId: "john.doe@email.com"
                  token: "15232381-02dc-46b4-8f1d-2e56ed32f6ae"
                  beneficiarySummary:
                    id: ""
                    firstName: "pari"
                    midName: ""
                    secLastName: ""
                    lastName: "sharma"
                    receptionMethod: "Cash Pickup"
                    cellPhone: "323232"
                    workPhone: ""
                    homePhone: ""
                    emailId: ""
                    nickName: "pari-Intermex CashPickup"
                    address:
                      address1: "878"
                      country: "Mexico"
                      city: "deerfield"
                      state: "COL"
                      stateName: "Colima"
                      zipCode: "00000"
                      countryISOCode: "MX"
                    destCountryISOCode: "MX"
                    destCurrencyISOCode: "MXN"
                    payerSpecificCode: "INTERMEX"
                    payerBranchCode: "INTERMEX-09989"
                  partnerCode: "Uniteller"
                  interactionId: "1234567890"
                  locale: "EN"

              AddBeneficiaryRequestForPToB:
                summary: Add Beneficiary Request For Person to Buisness
                value:
                  userId: "john.doe@email.com"
                  beneficiarySummary:
                    id: 0
                    gender: "M"
                    firstName: ""
                    lastName: ""
                    company:
                      companyRegisteredName: "TechNova Solutions Pvt Ltd"
                      companyDBAName: "NovaPay"
                    accHolderName: "Kamlesh Mishra"
                    accNumber: ""
                    address:
                      address1: "Address1"
                      city: "Mexico City"
                      state: "MEX"
                      stateName: "Estado De Mexico"
                      countryISOCode: "MX"
                      zipCode: "12345"
                    beneDOB: "12121986"
                    cellPhone: "7836040442"
                    receptionMethod: "Cash Pickup"
                    destCountryISOCode: "MX"
                    destCurrencyISOCode: "MXN"
                    payerSpecificCode: "EK699"
                    type: "COMPANY"
                  partnerCode: "Uniteller"
                  interactionId: "1234567890"
                  locale: "EN"

      responses:
        '200':
          description: Beneficiary added successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddBeneficiaryResponse'
              examples:
                Success:
                  value:
                    errorCode:
                      errorCode: "00000000"
                      errorMessage: "Beneficiary added successfully."
                      errorType: "DEFAULT"

                    extraFields:
                      - name: "offerDisclaimerMsg"
                        value: null

                    interactionId: "123456789"
                    executionTimestamp: 311
                    requestTimestamp: "07282026105029"
                    responseTimestamp: "07282026105029"
                    responseCode: "00000000"
                    responseMessage: "Beneficiary added successfully."
                    contextId: "API_21678da5871add10_fd74fbd88f9a3f34"

                    beneficiarySummary:
                      accHolderName: "kamlesh Mishra"
                      accNumber: null
                      accType: null
                      additionalFieldInfo: null

                      address:
                        address1: "Address1"
                        address2: null
                        city: "yunaski"
                        country: "Mexico"
                        countryISOCode: "MX"
                        state: "MEX"
                        stateName: "Estado De Mexico"
                        zipCode: "12345"

                      beneDOB: "12121986"
                      beneStatus: "Active"
                      beneVerification: "NOT REQUIRED"
                      cellPhone: "7836040442"
                      contactType: null
                      destCountryISOCode: "MX"
                      destCurrencyISOCode: "MXN"
                      destinationCurrency: "Mex Pesos"
                      emailId: null
                      firstName: "Myrtle"
                      gender: "M"
                      homePhone: null
                      id: 1887197
                      isCurpVerified: null
                      lastName: "mishra"
                      midName: null
                      nickName: "Myrtle - Banorte Account"
                      payer: "Banorte"
                      payerBranchCode: null

                      payerInfo:
                        accountRegexMsg: null
                        address: null
                        beneAccountRegex: null
                        id: 0
                        isPayerBranchRequired: null
                        name: null
                        payerSpecificCode: null
                        payerLogo: null
                        phoneNumber1: null
                        phoneNumber2: null
                        receiptionMethod: null
                        status: null
                        accountNumberDisplayName: null
                        extraFields: null
                        paymentAmountRegex: null
                        disclaimerMsg: null

                      payerSpecificCode: "BANORTE"
                      receptionMethod: "Cash Pickup"
                      secLastName: null
                      workPhone: null
                      extraFields: null
                      type: null
                      paymentAmountRegex: null
                      sendAmountRegex: null
                      serviceType: null
                      isService: null

                SuccessForPToB:
                  desciption: Company Added successfully
                  value:
                    errorCode:
                      errorCode: "00000000"
                      errorMessage: "Beneficiary added successfully."
                      errorType: "DEFAULT"

                    extraFields:
                      - name: "offerDisclaimerMsg"
                        value: null

                    interactionId: "123456789"
                    executionTimestamp: 311
                    requestTimestamp: "07282026105029"
                    responseTimestamp: "07282026105029"
                    responseCode: "00000000"
                    responseMessage: "Beneficiary added successfully."
                    contextId: "API_21678da5871add10_fd74fbd88f9a3f34"

                    beneficiarySummary:
                      accHolderName: "kamlesh Mishra"
                      accNumber: null
                      accType: null
                      additionalFieldInfo: null

                      address:
                        address1: "Address1"
                        address2: null
                        city: "yunaski"
                        country: "Mexico"
                        countryISOCode: "MX"
                        state: "MEX"
                        stateName: "Estado De Mexico"
                        zipCode: "12345"

                      beneDOB: "12121986"
                      beneStatus: "Active"
                      beneVerification: "NOT REQUIRED"
                      cellPhone: "7836040442"
                      contactType: null
                      destCountryISOCode: "MX"
                      destCurrencyISOCode: "MXN"
                      destinationCurrency: "Mex Pesos"
                      emailId: null
                      firstName: ""
                      gender: "M"
                      homePhone: null
                      id: 1887197
                      isCurpVerified: null
                      lastName: ""
                      company:
                        companyRegisteredName: "TechNova Solutions Pvt Ltd"
                        companyDBAName: "NovaPay"
                      midName: null
                      nickName: "Myrtle - Banorte Account"
                      payer: "Banorte"
                      payerBranchCode: null

                      payerInfo:
                        accountRegexMsg: null
                        address: null
                        beneAccountRegex: null
                        id: 0
                        isPayerBranchRequired: null
                        name: null
                        payerSpecificCode: null
                        payerLogo: null
                        phoneNumber1: null
                        phoneNumber2: null
                        receiptionMethod: null
                        status: null
                        accountNumberDisplayName: null
                        extraFields: null
                        paymentAmountRegex: null
                        disclaimerMsg: null

                      payerSpecificCode: "BANORTE"
                      receptionMethod: "Cash Pickup"
                      secLastName: null
                      workPhone: null
                      extraFields: null
                      type: null
                      paymentAmountRegex: null
                      sendAmountRegex: null
                      serviceType: null
                      isService: null

        '400':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddBeneficiaryResponse'
              examples:
                Unauthorized:
                  $ref: '#/components/examples/UnauthorizedResponse'


        '401':
          description: Unauthorized

        '500':
          description: Internal Server Error

  /UTLROnlineRemitAPI/ProfileManagement/BeneficiarySummaryList:
    post:
      tags:
        - ProfileManagement
      summary: Get beneficiary summary list.
      description: Retrieves the list of beneficiaries associated with the specified remitter.

      security:
        - bearerAuth: [ ]

      parameters:
        - $ref: '#/components/parameters/AuthenticationCode'
        - $ref: '#/components/parameters/XForwardedFor'

      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BeneficiarySummaryListRequest'
            examples:
              BeneficiarySummaryListRequest:
                summary: Beneficiary Summary List Request
                value:
                  userId: "john.doe@email.com"
                  partialOrFull: "F"
                  partnerCode: "Uniteller"
                  interactionId: "1234567890"
                  extraFields: [ ]
                  locale: "EN"


      responses:
        '200':
          description: Beneficiary summary list retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BeneficiarySummaryListResponse'
              examples:
                Success:
                  value:
                    errorCode:
                      errorCode: "00000000"
                      errorMessage: "Success."
                      errorType: "DEFAULT"

                    extraFields: null
                    interactionId: "12345678"
                    executionTimestamp: 49
                    requestTimestamp: "07282026104931"
                    responseTimestamp: "07282026104931"
                    responseCode: "00000000"
                    responseMessage: "Success."
                    contextId: "API_21678da5871add10_02321e5b406b4d3b"

                    beneficiarySummaryList:
                      - accHolderName: null
                        accNumber: ""
                        accType: null
                        additionalFieldInfo: null

                        address:
                          address1: "Address1"
                          address2: null
                          city: "yunaski"
                          country: "Mexico"
                          countryISOCode: "MX"
                          state: "MEX"
                          stateName: "Estado De Mexico"
                          zipCode: "12345"

                        beneDOB: "12121986"
                        beneStatus: "Active"
                        beneVerification: "NOT REQUIRED"
                        cellPhone: "7836040442"
                        contactType: "BENEFICIARY"
                        destCountryISOCode: "MX"
                        destCurrencyISOCode: "MXN"
                        destinationCurrency: "Mex Pesos"
                        emailId: null
                        firstName: "Christina"
                        gender: "M"
                        homePhone: null
                        id: 1883513
                        isCurpVerified: null
                        lastName: "mishra"
                        midName: null
                        nickName: "Christina - Banorte Account"
                        payer: "Banorte"
                        payerBranchCode: null

                        payerInfo:
                          accountRegexMsg: null
                          address: null
                          beneAccountRegex: null
                          id: 0
                          isPayerBranchRequired: null
                          name: null
                          payerSpecificCode: null
                          payerLogo: null
                          phoneNumber1: null
                          phoneNumber2: null
                          receiptionMethod: null
                          status: null
                          accountNumberDisplayName: null
                          extraFields: null
                          paymentAmountRegex: null
                          disclaimerMsg: null

                        payerSpecificCode: "BANORTE"
                        receptionMethod: "Cash Pickup"
                        secLastName: null
                        workPhone: null

                        extraFields:
                          - name: "updateAdditionalField"
                            value: "false"
                          - name: "updateAdditionalFieldMessage"
                            value: "false"
                          - name: "editAccountNumber"
                            value: "false"

                        type: null
                        paymentAmountRegex: null
                        sendAmountRegex: null
                        serviceType: null
                        isService: null

                      - accHolderName: null
                        accNumber: ""
                        accType: null
                        additionalFieldInfo: null

                        address:
                          address1: "Address1"
                          address2: null
                          city: "yunaski"
                          country: "Mexico"
                          countryISOCode: "MX"
                          state: "MEX"
                          stateName: "Estado De Mexico"
                          zipCode: "12345"

                        beneDOB: "12121986"
                        beneStatus: "Active"
                        beneVerification: "NOT REQUIRED"
                        cellPhone: "7836040442"
                        contactType: "BENEFICIARY"
                        destCountryISOCode: "MX"
                        destCurrencyISOCode: "MXN"
                        destinationCurrency: "Mex Pesos"
                        emailId: null
                        firstName: "Furman"
                        gender: "M"
                        homePhone: null
                        id: 1883514
                        isCurpVerified: null
                        lastName: "mishra"
                        midName: null
                        nickName: "Furman - Elektra  Account"
                        payer: "Elektra "
                        payerBranchCode: null

                        payerInfo:
                          accountRegexMsg: null
                          address: null
                          beneAccountRegex: null
                          id: 0
                          isPayerBranchRequired: null
                          name: null
                          payerSpecificCode: null
                          payerLogo: null
                          phoneNumber1: null
                          phoneNumber2: null
                          receiptionMethod: null
                          status: null
                          accountNumberDisplayName: null
                          extraFields: null
                          paymentAmountRegex: null
                          disclaimerMsg: null

                        payerSpecificCode: "EK699"
                        receptionMethod: "Cash Pickup"
                        secLastName: null
                        workPhone: null

                        extraFields:
                          - name: "updateAdditionalField"
                            value: "false"
                          - name: "updateAdditionalFieldMessage"
                            value: "false"
                          - name: "editAccountNumber"
                            value: "false"

                        type: null
                        paymentAmountRegex: null
                        sendAmountRegex: null
                        serviceType: null
                        isService: null

                      - accHolderName: null
                        accNumber: ""
                        accType: null
                        additionalFieldInfo: null

                        address:
                          address1: "Address1"
                          address2: null
                          city: "yunaski"
                          country: "Mexico"
                          countryISOCode: "MX"
                          state: "MEX"
                          stateName: "Estado De Mexico"
                          zipCode: "12345"

                        beneDOB: "12121986"
                        beneStatus: "Active"
                        beneVerification: "NOT REQUIRED"
                        cellPhone: "7836040442"
                        contactType: "BENEFICIARY"
                        destCountryISOCode: "MX"
                        destCurrencyISOCode: "MXN"
                        destinationCurrency: "Mex Pesos"
                        emailId: null
                        firstName: ""
                        gender: "M"
                        homePhone: null
                        id: 1883514
                        isCurpVerified: null
                        lastName: ""
                        midName: null
                        company:
                          companyRegisteredName: "TechNova Solutions Pvt Ltd"
                          companyDBAName: "NovaPay"
                        nickName: "Furman - Elektra  Account"
                        payer: "Elektra "
                        payerBranchCode: null

                        payerInfo:
                          accountRegexMsg: null
                          address: null
                          beneAccountRegex: null
                          id: 0
                          isPayerBranchRequired: null
                          name: null
                          payerSpecificCode: null
                          payerLogo: null
                          phoneNumber1: null
                          phoneNumber2: null
                          receiptionMethod: null
                          status: null
                          accountNumberDisplayName: null
                          extraFields: null
                          paymentAmountRegex: null
                          disclaimerMsg: null

                        payerSpecificCode: "EK699"
                        receptionMethod: "Cash Pickup"
                        secLastName: null
                        workPhone: null

                        extraFields:
                          - name: "updateAdditionalField"
                            value: "false"
                          - name: "updateAdditionalFieldMessage"
                            value: "false"
                          - name: "editAccountNumber"
                            value: "false"

                        type: "COMPANY"
                        paymentAmountRegex: null
                        sendAmountRegex: null
                        serviceType: null
                        isService: null

        '400':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BeneficiarySummaryListResponse'
              examples:
                Unauthorized:
                  $ref: '#/components/examples/UnauthorizedResponse'


        '401':
          description: Unauthorized

        '500':
          description: Internal Server Error



  /UTLROnlineRemitAPI/ProfileManagement/BeneficiaryDetail:
    post:
      tags:
        - ProfileManagement
      summary: Get beneficiary details.
      description: Retrieves detailed information for a specific beneficiary.

      security:
        - bearerAuth: [ ]

      parameters:
        - $ref: '#/components/parameters/AuthenticationCode'
        - $ref: '#/components/parameters/XForwardedFor'

      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BeneficiaryDetailRequest'
            examples:
              BeneficiaryDetailRequest:
                summary: Beneficiary Detail Request
                value:
                  userId: "john.doe@email.com"
                  beneficiaryId: 326206
                  partnerCode: "Uniteller"
                  extraFields: [ ]
                  locale: "EN"

      responses:
        '200':
          description: Beneficiary details retrieved successfully.
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/BeneficiaryDetailResponse'
                - $ref: '#/components/schemas/BeneficiaryDetailResponseForPToB'
              examples:
                Success:
                  summary: Beneficiary Summary Response
                  value:
                    errorCode:
                      errorCode: "00000000"
                      errorMessage: "Success."
                      errorType: "DEFAULT"
                    extraFields: null
                    interactionId: null
                    executionTimestamp: 258
                    requestTimestamp: "07212026080957"
                    responseTimestamp: "07212026080957"
                    responseCode: "00000000"
                    responseMessage: "Success."
                    contextId: "API_a08707c3b7cb4420_da72c0dd12375bea"
                    beneficiarySummary:
                      accHolderName: "kamlesh Mishra"
                      accNumber: null
                      accType: null
                      additionalFieldInfo: null
                      address:
                        address1: "Address1"
                        address2: null
                        city: "yunaski"
                        country: "Mexico"
                        countryISOCode: "MX"
                        state: "MEX"
                        stateName: "Estado De Mexico"
                        zipCode: "12345"
                      beneDOB: "12121986"
                      beneStatus: "Active"
                      beneVerification: null
                      cellPhone: "7836040442"
                      contactType: null
                      destCountryISOCode: "MX"
                      destCurrencyISOCode: "MXN"
                      destinationCurrency: "Mex Pesos"
                      emailId: null
                      firstName: "Savanah"
                      gender: "M"
                      homePhone: null
                      id: 326206
                      isCurpVerified: null
                      lastName: "mishra"
                      midName: null
                      nickName: "Savanah - Elektra  Account"
                      payer: "Elektra "
                      payerBranchCode: null
                      payerInfo:
                        accountRegexMsg: null
                        address: null
                        beneAccountRegex: null
                        id: 19
                        isPayerBranchRequired: null
                        name: "Elektra "
                        payerSpecificCode: "EK699"
                        payerLogo: null
                        phoneNumber1: null
                        phoneNumber2: null
                        receiptionMethod: null
                        status: null
                        accountNumberDisplayName: null
                        extraFields: null
                        paymentAmountRegex: null
                        disclaimerMsg: null
                      payerSpecificCode: "EK699"
                      receptionMethod: "Cash Pickup"
                      secLastName: null
                      workPhone: null
                      extraFields: null
                      type: null
                      paymentAmountRegex: null
                      sendAmountRegex: null
                      serviceType: null
                      isService: null
                SuccessForPToB:
                  summary: Beneficiary Summary Response Company Type
                  value:
                    errorCode:
                      errorCode: "00000000"
                      errorMessage: "Success."
                      errorType: "DEFAULT"
                    extraFields: null
                    interactionId: null
                    executionTimestamp: 258
                    requestTimestamp: "07212026080957"
                    responseTimestamp: "07212026080957"
                    responseCode: "00000000"
                    responseMessage: "Success."
                    contextId: "API_a08707c3b7cb4420_da72c0dd12375bea"
                    beneficiarySummary:
                      accHolderName: "kamlesh Mishra"
                      accNumber: null
                      accType: null
                      additionalFieldInfo: null
                      address:
                        address1: "Address1"
                        address2: null
                        city: "yunaski"
                        country: "Mexico"
                        countryISOCode: "MX"
                        state: "MEX"
                        stateName: "Estado De Mexico"
                        zipCode: "12345"
                      beneDOB: "12121986"
                      beneStatus: "Active"
                      beneVerification: null
                      cellPhone: "7836040442"
                      contactType: null
                      destCountryISOCode: "MX"
                      destCurrencyISOCode: "MXN"
                      destinationCurrency: "Mex Pesos"
                      emailId: null
                      firstName:
                      gender: "M"
                      homePhone: null
                      id: 326206
                      isCurpVerified: null
                      lastName: ""
                      midName: null
                      nickName: "Savanah - Elektra  Account"
                      company:
                        companyRegisteredName: "TechNova Solutions Pvt Ltd"
                        companyDBAName: "NovaPay"
                      payer: "Elektra "
                      payerBranchCode: null
                      payerInfo:
                        accountRegexMsg: null
                        address: null
                        beneAccountRegex: null
                        id: 19
                        isPayerBranchRequired: null
                        name: "Elektra "
                        payerSpecificCode: "EK699"
                        payerLogo: null
                        phoneNumber1: null
                        phoneNumber2: null
                        receiptionMethod: null
                        status: null
                        accountNumberDisplayName: null
                        extraFields: null
                        paymentAmountRegex: null
                        disclaimerMsg: null
                      payerSpecificCode: "EK699"
                      receptionMethod: "Cash Pickup"
                      secLastName: null
                      workPhone: null
                      extraFields: null
                      type: "COMPANY"
                      paymentAmountRegex: null
                      sendAmountRegex: null
                      serviceType: null
                      isService: null
        '400':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BeneficiaryDetailResponse'
              examples:
                Unauthorized:
                  $ref: '#/components/examples/UnauthorizedResponse'


        '401':
          description: Unauthorized

        '500':
          description: Internal Server Error

  /UTLROnlineRemitAPI/ProfileManagement/EditBeneficiary:
    post:
      tags:
        - ProfileManagement
      summary: Edit beneficiary.
      description: Updates the details of an existing beneficiary.

      security:
        - bearerAuth: [ ]

      parameters:
        - $ref: '#/components/parameters/AuthenticationCode'
        - $ref: '#/components/parameters/XForwardedFor'

      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
              - $ref: '#/components/schemas/EditBeneficiaryRequest'
              - $ref: '#/components/schemas/EditBeneficiaryRequestForPToB'
            examples:
              EditBeneficiaryRequest:
                summary: Edit Beneficiary Request
                value:
                  userId: "john.doe@email.com"
                  beneficiarySummary:
                    id: 326372
                    gender: "M"
                    firstName: "Pulak"
                    lastName: "mishra"
                    nickName: "Satish"
                    accHolderName: "Sat K Mishra"
                    accNumber: "1234567890"
                    address:
                      address1: "edit Address1"
                      city: "edit jhj"
                      state: "DIF"
                      stateName: "Mexico Df"
                      countryISOCode: "MX"
                      zipCode: "12345"
                    beneDOB: "12121986"
                    cellPhone: "9998887772"
                    receptionMethod: "Cash Pickup"
                    destCountryISOCode: "MX"
                    destCurrencyISOCode: "MXN"
                    payerSpecificCode: "EK699"
                  partnerCode: "Uniteller"
                  interactionId: "1234567890"
                  locale: "EN"
              EditBeneficiaryRequestForPToB:
                summary: Edit Beneficiary Request For Person To Buisness
                value:
                  userId: "john.doe@email.com"
                  beneficiarySummary:
                    id: 326372
                    gender: "M"
                    firstName: null
                    lastName: null
                    company:
                      companyRegisteredName: "TechNova Solutions Pvt Ltd"
                      companyDBAName: "NovaPay"
                    nickName: "Satish"
                    accHolderName: "Sat K Mishra"
                    accNumber: "1234567890"
                    address:
                      address1: "edit Address1"
                      city: "edit jhj"
                      state: "DIF"
                      stateName: "Mexico Df"
                      countryISOCode: "MX"
                      zipCode: "12345"
                    beneDOB: "12121986"
                    cellPhone: "9998887772"
                    receptionMethod: "Cash Pickup"
                    destCountryISOCode: "MX"
                    destCurrencyISOCode: "MXN"
                    payerSpecificCode: "EK699"
                    type: "COMPANY"
                  partnerCode: "Uniteller"
                  interactionId: "1234567890"
                  locale: "EN"

      responses:
        '200':
          description: Beneficiary updated successfully.
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/EditBeneficiaryResponse'
                  - $ref: '#/components/schemas/EditBeneficiaryResponseForPToB'
              examples:
                Success:
                  summary: Beneficiary Summary Response
                  value:
                    errorCode:
                      errorCode: "00000000"
                      errorMessage: "Success."
                      errorType: "DEFAULT"
                    extraFields: null
                    interactionId: "123456789"
                    executionTimestamp: 1171
                    requestTimestamp: "08012026113728"
                    responseTimestamp: "08012026113729"
                    responseCode: "00000000"
                    responseMessage: "Success."
                    contextId: "API_873a5ca48cd6e39e_2c48f492f2a36b3f"
                    beneficiarySummary:
                      accHolderName: "kamlesh Mishra"
                      accNumber: null
                      accType: null
                      additionalFieldInfo: null
                      address:
                        address1: "edit Address1"
                        address2: null
                        city: "edit jhj"
                        country: "Mexico"
                        countryISOCode: "MX"
                        state: "DIF"
                        stateName: "Ciudad de Mexico"
                        zipCode: "12345"
                      beneDOB: "12121986"
                      beneStatus: "Active"
                      beneVerification: null
                      cellPhone: "9998887772"
                      contactType: null
                      destCountryISOCode: "MX"
                      destCurrencyISOCode: "MXN"
                      destinationCurrency: "Mex Pesos"
                      emailId: null
                      firstName: "Yvonne"
                      gender: "M"
                      homePhone: "9998887772"
                      id: 326637
                      isCurpVerified: null
                      lastName: "mishra"
                      midName: null
                      nickName: "Satish"
                      payer: "Elektra "
                      payerBranchCode: null
                      payerInfo: null
                      payerSpecificCode: "EK699"
                      receptionMethod: "Cash Pickup"
                      secLastName: null
                      workPhone: "9998887772"
                      extraFields: null
                      type: null
                      paymentAmountRegex: null
                      sendAmountRegex: null
                      serviceType: null
                      isService: null
                SuccessForPToB:
                  summary: Beneficiary Summary Response For P to B
                  value:
                    errorCode:
                      errorCode: "00000000"
                      errorMessage: "Success."
                      errorType: "DEFAULT"
                    extraFields: null
                    interactionId: "123456789"
                    executionTimestamp: 1171
                    requestTimestamp: "08012026113728"
                    responseTimestamp: "08012026113729"
                    responseCode: "00000000"
                    responseMessage: "Success."
                    contextId: "API_873a5ca48cd6e39e_2c48f492f2a36b3f"
                    beneficiarySummary:
                      accHolderName: "kamlesh Mishra"
                      accNumber: null
                      accType: null
                      additionalFieldInfo: null
                      address:
                        address1: "edit Address1"
                        address2: null
                        city: "edit jhj"
                        country: "Mexico"
                        countryISOCode: "MX"
                        state: "DIF"
                        stateName: "Ciudad de Mexico"
                        zipCode: "12345"
                      beneDOB: "12121986"
                      beneStatus: "Active"
                      beneVerification: null
                      cellPhone: "9998887772"
                      contactType: null
                      destCountryISOCode: "MX"
                      destCurrencyISOCode: "MXN"
                      destinationCurrency: "Mex Pesos"
                      emailId: null
                      firstName: ""
                      gender: "M"
                      homePhone: "9998887772"
                      id: 326637
                      isCurpVerified: null
                      lastName: ""
                      midName: null
                      company:
                        companyRegisteredName: "TechNova Solutions Pvt Ltd"
                        companyDBAName: "NovaPay"
                      nickName: "Satish"
                      payer: "Elektra "
                      payerBranchCode: null
                      payerInfo: null
                      payerSpecificCode: "EK699"
                      receptionMethod: "Cash Pickup"
                      secLastName: null
                      workPhone: "9998887772"
                      extraFields: null
                      type: "COMPANY"
                      paymentAmountRegex: null
                      sendAmountRegex: null
                      serviceType: null
                      isService: null

        '400':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EditBeneficiaryResponse'
              examples:
                Unauthorized:
                  $ref: '#/components/examples/UnauthorizedResponse'


        '401':
          description: Unauthorized

        '500':
          description: Internal Server Error

  /UTLROnlineRemitAPI/ProfileManagement/DeactivateBeneficiary:
    post:
      tags:
        - ProfileManagement
      summary: Deactivate beneficiary.
      description: Deactivates the specified beneficiary associated with the remitter.

      security:
        - bearerAuth: [ ]

      parameters:
        - $ref: '#/components/parameters/AuthenticationCode'
        - $ref: '#/components/parameters/XForwardedFor'

      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeactivateBeneficiaryRequest'
            examples:
              DeactivateBeneficiaryRequest:
                summary: Deactivate Beneficiary Request
                value:
                  userId: "john.doe@email.com"
                  beneficiaryId: 326206
                  partnerCode: "Uniteller"
                  interactionId: "1234567890"

      responses:
        '200':
          description: Beneficiary deactivated successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeactivateBeneficiaryResponse'
              examples:
                Success:
                  summary: Success Response
                  value:
                    errorCode:
                      errorCode: "00000000"
                      errorMessage: "Success."
                      errorType: "DEFAULT"
                    extraFields: null
                    interactionId: "12345678"
                    executionTimestamp: 295
                    requestTimestamp: "07222026110958"
                    responseTimestamp: "07222026110958"
                    responseCode: "00000000"
                    responseMessage: "Success."
                    contextId: "API_813eb0ab77a09e50_c60ffd730208ec78"

        '400':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeactivateBeneficiaryResponse'
              examples:
                Unauthorized:
                  $ref: '#/components/examples/UnauthorizedResponse'


        '401':
          description: Unauthorized

        '500':
          description: Internal Server Error

  /UTLROnlineRemitAPI/ProfileManagement/SendingMethodSummaryList:
    post:
      tags:
        - ProfileManagement
      summary: Get sending method summary list.
      description: Retrieves the list of sending methods associated with the specified remitter.

      security:
        - bearerAuth: [ ]

      parameters:
        - $ref: '#/components/parameters/AuthenticationCode'
        - $ref: '#/components/parameters/XForwardedFor'

      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SendingMethodSummaryListRequest'
            examples:
              SendingMethodSummaryListRequest:
                summary: Sending Method Summary List Request
                value:
                  userId: "john.doe@email.com"
                  sendingMethodStatus: "All"
                  partnerCode: "Uniteller"
                  interactionId: "1234567890"
                  extraFields: [ ]
                  locale: "EN"

      responses:
        '200':
          description: Sending method summary list retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SendingMethodSummaryListResponse'
              examples:
                Success:
                  summary: Sending Method Summary Response
                  value:
                    errorCode:
                      errorCode: "00000000"
                      errorMessage: "Success."
                      errorType: "DEFAULT"
                    extraFields:
                      - name: "BANK_ACC_AVAILABLE_TIME_MSG"
                        value: "Available in 4 business days"
                    interactionId: "12345678"
                    executionTimestamp: 155
                    requestTimestamp: "07282026104916"
                    responseTimestamp: "07282026104916"
                    responseCode: "00000000"
                    responseMessage: "Success."
                    contextId: "API_21678da5871add10_7e5ff28777d38cec"
                    sendingMethodSummary:
                      - accVerifySource: null
                        address: null
                        allowEditandDeactivate: false
                        bankName: null
                        id: 551486
                        nickName: null
                        publicToken: null
                        sendingMethodName: "Wlp Wallet"
                        sendingMethodNumber: null
                        sendingMethodType: null
                        fundingDetailsId: null
                        isHashInfoAvailable: null
                        routingNumber: null
                        status: "Verified"
                        prepaidCard: false

        '400':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SendingMethodSummaryListResponse'
              examples:
                Unauthorized:
                  $ref: '#/components/examples/UnauthorizedResponse'


        '401':
          description: Unauthorized

        '500':
          description: Internal Server Error

  /UTLROnlineRemitAPI/Remittance/CurrentExchangeRate:
    post:
      tags:
        - Remittance
      summary: Get current exchange rate.
      description: Retrieves the current exchange rate for the specified destination country and currency.

      security:
        - bearerAuth: [ ]

      parameters:
        - $ref: '#/components/parameters/AuthenticationCode'
        - $ref: '#/components/parameters/XForwardedFor'

      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CurrentExchangeRateRequest'
            examples:
              CurrentExchangeRateRequest:
                summary: Current Exchange Rate Request
                value:
                  countryIsoCode: "MX"
                  currencyIsoCode: "MXN"
                  partnerCode: "Uniteller"
                  interactionId: "1234567890"
                  locale: "EN"

      responses:
        '200':
          description: Current exchange rate retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CurrentExchangeRateResponse'
              examples:
                Success:
                  summary: Exchange Rate Response
                  value:
                    errorCode:
                      errorCode: "00000000"
                      errorMessage: "Success."
                      errorType: "DEFAULT"
                    extraFields: null
                    interactionId: "12345678"
                    executionTimestamp: 283
                    requestTimestamp: "08012026112129"
                    responseTimestamp: "08012026112129"
                    responseCode: "00000000"
                    responseMessage: "Success."
                    contextId: "API_6711b1b619e6dfe1"
                    exchangeRate:
                      destCountryISOCode: "MX"
                      destCurrencyISOCode: "MXN"
                      exchangeRate: 18.54
                      bestExchangeRate: null
                      localCurrencyGroupForBestExchangeRate: null
                      bestExchangeRateGroup: null
                      exchangeRateInStr: "18.540"
                      exchangeRatePromotionMsg: null
                      flexiFxApplyType: null

        '400':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CurrentExchangeRateResponse'
              examples:
                Unauthorized:
                  $ref: '#/components/examples/UnauthorizedResponse'


        '401':
          description: Unauthorized

        '500':
          description: Internal Server Error

  /UTLROnlineRemitAPI/Common/ExternalQuickQuotes:
    post:
      tags:
        - Common
      summary: Get external quick quotes.
      description: Retrieves exchange rate and quick quote details for the specified destination country, currency, payer, sending method, and reception method.

      security:
        - bearerAuth: [ ]

      parameters:
        - $ref: '#/components/parameters/AuthenticationCode'
        - $ref: '#/components/parameters/XForwardedFor'

      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
              - $ref: '#/components/schemas/ExternalQuickQuotesRequest'
              - $ref: '#/components/schemas/ExternalQuickQuotesRequestForPToB'
            examples:
              ExternalQuickQuotesRequest:
                summary: External Quick Quotes Request
                value:
                  destCountryISOCode: "MX"
                  destCurrencyISOCode: "MXN"
                  transactionAmount: 1000.0
                  payerSpecificCode: "EK699"
                  sendingMethodName: "Wlp Wallet"
                  receptionMethodName: "Account Credit"
                  partnerCode: "Uniteller"
                  extraFields: [ ]
                  locale: "EN"

              ExternalQuickQuotesRequestForPToB:
                summary: External Quick Quotes Request
                value:
                  destCountryISOCode: "MX"
                  destCurrencyISOCode: "MXN"
                  transactionAmount: 1000.0
                  payerSpecificCode: "EK699"
                  sendingMethodName: "Credit Card"
                  receptionMethodName: "Account Credit"
                  partnerCode: "Uniteller"
                  extraFields: [ ]
                  locale: "EN"
                  receipentType: "COMPANY"

      responses:
        '200':
          description: External quick quotes retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExternalQuickQuotesResponse'
              examples:
                Success:
                  summary: Quick Quote Response
                  value:
                    errorCode:
                      errorCode: "00000000"
                      errorMessage: "Success."
                      errorType: "DEFAULT"
                    extraFields: null
                    interactionId: null
                    executionTimestamp: 283
                    requestTimestamp: "07272026073447"
                    responseTimestamp: "07272026073447"
                    responseCode: "00000000"
                    responseMessage: "Success."
                    contextId: "API_708cac3371027cdd"
                    exchangeRate: 18.54
                    quickQuotes:
                      - receivedAmount: 18540.0
                        sendingAmount: "1000.0"
                        sendingMethodName: "Wlp Wallet"
                        serviceFee: 0.0
                        totalTransactionAmount: 1000.0
                    transactionAmount: 1000.0
                    bestExchangeRate: { }
                    bestExchangeRateForDashboard: 0.0
                    bestExchangeRateForExistingUser: 0.0
                    stateFee: "0.0"
                    exchangeRatePromotionMsg: null
                    bestFxExchangeRate: null
                    localCurrencyGroupForBestExchangeRate: null
                    bestExchangeRateGroup: null
                    flexiFxApplyType: null

        '400':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExternalQuickQuotesResponse'
              examples:
                Unauthorized:
                  $ref: '#/components/examples/UnauthorizedResponse'


        '401':
          description: Unauthorized

        '500':
          description: Internal Server Error


  /UTLROnlineRemitAPI/Remittance/SendMoneyPreview:
    post:
      tags:
        - Remittance
      summary: Preview send money transaction.
      description: Retrieves a preview of the remittance transaction, including exchange rate, fees, beneficiary information, and total payable amount before the transaction is submitted.

      security:
        - bearerAuth: [ ]

      parameters:
        - $ref: '#/components/parameters/AuthenticationCode'
        - $ref: '#/components/parameters/XForwardedFor'

      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SendMoneyPreviewRequest'
            examples:
              SendMoneyPreviewRequest:
                summary: Send Money Preview Request
                value:
                  userId: "john.doe@email.com"
                  beneficiaryId: "326545"
                  sendingMethodId: "105278"
                  sendingMethodName: "Wlp Wallet"
                  transactionAmount: "30"
                  sendingMethodOrigin: "US"
                  transactionCurrencyId: 5
                  partnerCode: "Uniteller"
                  interactionId: "1234567890"
                  locale: "EN"
                  extraFields:
                    - name: "EXTERNAL_SERVICE_FEE"
                      value: "3"
                    - name: "EXTERNAL_FX_RATE"
                      value: "10"

      responses:
        '200':
          description: Transaction preview retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SendMoneyPreviewResponse'
              examples:
                Success:
                  summary: SendMoney Preview Response
                  value:
                    errorCode:
                      errorCode: "00000000"
                      errorMessage: "Success."
                      errorType: "DEFAULT"
                    extraFields: null
                    interactionId: null
                    executionTimestamp: 283
                    requestTimestamp: "07272026073447"
                    responseTimestamp: "07272026073447"
                    responseCode: "00000000"
                    responseMessage: "Success."
                    contextId: "API_708cac3371027cdd"
                    exchangeRate: 18.54
                    quickQuotes:
                      - receivedAmount: 18540.0
                        sendingAmount: "1000.0"
                        sendingMethodName: "Wlp Wallet"
                        serviceFee: 0.0
                        totalTransactionAmount: 1000.0
                    transactionAmount: 1000.0
                    bestExchangeRate: { }
                    bestExchangeRateForDashboard: 0.0
                    bestExchangeRateForExistingUser: 0.0
                    stateFee: "0.0"
                    exchangeRatePromotionMsg: null
                    bestFxExchangeRate: null
                    localCurrencyGroupForBestExchangeRate: null
                    bestExchangeRateGroup: null
                    flexiFxApplyType: null

        '400':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SendMoneyPreviewResponse'
              examples:
                Unauthorized:
                  $ref: '#/components/examples/UnauthorizedResponse'


        '401':
          description: Unauthorized

        '500':
          description: Internal Server Error

  /UTLROnlineRemitAPI/Remittance/SendMoneyConfirm:
    post:
      tags:
        - Remittance
      summary: Confirm send money transaction.
      description: Confirms a previously previewed remittance transaction and returns the final transaction details.

      security:
        - bearerAuth: [ ]

      parameters:
        - $ref: '#/components/parameters/AuthenticationCode'
        - $ref: '#/components/parameters/XForwardedFor'

      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SendMoneyConfirmRequest'
            examples:
              SendMoneyConfirmRequest:
                summary: Send Money Confirm Request
                value:
                  userId: "john.doe@email.com"
                  transactionInternalReference: "812429"
                  partnerCode: "Uniteller"
                  interactionId: "1234567890"
                  locale: "EN"

      responses:
        '200':
          description: Transaction confirmed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SendMoneyConfirmResponse'
              examples:
                Success:
                  summary: SendMoney Confirm Response
                  value:
                    errorCode:
                      errorCode: "00000000"
                      errorMessage: "Success."
                      errorType: "DEFAULT"
                    extraFields:
                      - name: "REVIEW_HOLD_MESSAGE"
                        value: null
                    interactionId: "12345678"
                    executionTimestamp: 21179
                    requestTimestamp: "08012026112502"
[...]
